    /* https://unsplash.com/photos/1A_dO4TFKgM */
    * {
        margin: 0;
        font-family: 'Poppins', sans-serif;
      }
    
    body > #root > div {
        height: 100vh;
      }
      
    .App{
    /* color:white; */
    display:flex;
    align-items: center;
    justify-content: center;
    overflow-y: scroll;
    gap:50px;
    
}
.sideBar{
  background-color: antiquewhite;
  width:100px;
  height: 100px;;
}

.output-div,
.input
{
    border:none;
    width: 533px;
    height: 684px;
    border-radius: 52px;
    padding:30px;
    border-radius: 10.42px;
}

.input{
    /* color:white; */
    resize:none;
    border:1px solid black;
    border-radius: 10.42px;
}

.verLine{
border-left: 1px solid black;
height: 750px;
}